<html>
  <head>
    <title>Verify your U-Save Market Account</title>
  </head>
  <body>
    <h1>Hello, <%= metadata.fname %>!</h1>
    <p>
     below is your authentication code to verify your email address
     <h3><%= metadata.otp %></h3> 
    </p>
  </body>
</html>
